html, body{
    height: 115%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
    
body{
    display: flex;
    background-color: #0B5F3F;
    justify-content: center;
}

nav{
    display: flex;
    color: #F7F7F7;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    justify-content: space-around;
    margin-bottom: 1%;
}

.logo{
    text-decoration: none;
}

.logo:hover{
    text-decoration: underline;
}

a{
    color:#F7F7F7;
}

.grid-container{
    display: grid;
    grid-template-rows: .2fr 8fr;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 7fr 1fr;
}

.content{
    display: grid;
    grid-column: 2/3;
    background-color:#F7F7F7;
    height: 90%;
    width: 100%;
    grid-template-rows: 10% auto auto auto;
    grid-template-columns: 6fr 2fr;
    border-radius: 15px;
    padding: 4%;
    padding-top: 0;
    box-shadow: 15px 8px black;
}

.hobby1{
    grid-row: 2/3;
}

.hobby2{
    grid-row: 3/4;
    margin-top: 9%;
}

.hobby3{
    grid-row:4/5;
    margin-top: 9%;
}

.hobby1, .hobby2, .hobby3{
    grid-column:1/2;
}

h1{
    font-family: 'Raleway', sans-serif;
    color:#0B5F3F;
    font-size: 3em;
}

.pic1{
    grid-row: 1/3;
    grid-column: 2/3;
    text-align: center;
    padding-top: 16%;
}

.pic2{
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
}

.pic3{
    grid-row: 4/5;
    grid-column: 2/3;
    text-align: center;
}

figure{
    text-align: center;
}

img{
    height: 20%;
    width: 80%;
}

figcaption{
    font-size: .75em;
    padding-right: .5%;
}

p, figcaption{
    font-family: 'Source Serif 4', serif;
}

p{
    font-size: 1.1em;
}